:root {
    --primary-color: #093171;
    --secondary-color: #ACEDFF;
    --tertiary-color: #40434E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
}

/* header styling */

header {
    background-color: var(--tertiary-color);
    padding: 20px 0 15px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

}

header h1 {
    background-color: var(--secondary-color);
    color:var(--tertiary-color);
    padding: 0 10px;
    width: 330px;
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
}

header nav {
    margin-right: 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    padding: 10px;
    font-size: 20px;
}

header nav ul li a {
   color: var(--secondary-color);
   text-decoration: none;
   border-bottom: 5px solid var(--secondary-color);
   padding-bottom: 5px;
   padding-right: 15px;
   padding-left: 15px; 
}

/* hero section styling */

section {
    padding: 50px;
}
.hero {
    background-image: url("../images/original.png");
    background-position: center;
}

.hero h2 {
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
    font-size: 40px;
    color:var(--tertiary-color);
    margin-left:1200px;
    margin-top: 100px;
}

/* styling about me */

.aboutme {
    display: flex;
    justify-content: space-between;
}

.aboutme h2 {
    margin: 0;
    padding:60px;
    font-size: 60px;
    border-right: 5px solid var(--primary-color);
    text-align: right;
    color:var(--primary-color);
    display: flex;
}
.aboutme .information {
    padding: 10px;
}

.aboutme p {
    color: var(--primary-color);
    font-size: 15px;
    line-height: 1.5;
}

.aboutme img {
    margin: 10px;
    width: 15%;
}

/*styling work*/

.work {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    
}

.work h2 {
    margin: 0;
    padding:70px;
    font-size: 60px;
    border-right: 5px solid var(--primary-color);
    text-align: right;
    color:var(--primary-color);
    display: flex;
}

.projects a {
    text-decoration: none;
}

.projects1 {
    display: flex;
    flex-grow: 2;
    flex-direction: row;
}

.run-buddy {
    background-image: url("../images/hero-bg.jpg");
    background-size: 1400px;
    background-position: right;
    padding: 400px 400px 30px 0px;
    margin: 20px;
    border: 5px solid var(--secondary-color);
    filter: brightness(75%);
}

.run-buddy:hover {
    filter: brightness(100%)
}

.horiseon {
    background-image: url("../images/digital-marketing-meeting.jpg");
    padding: 200px 200px 30px 0px;
    background-size: 700px;
    background-position: right;
    margin: 20px;
    border: 5px solid var(--secondary-color);
    filter: brightness(75%);
}

.horiseon:hover {
    filter:brightness(100%)
}

.art {
    background-image: url("../images/sailor\ soldier\ merge.png");
    padding: 200px 200px 30px 0px;
    background-size: 500px;
    background-position: center;
    margin: 20px;
    border: 5px solid var(--secondary-color);
    filter: brightness(75%);
}

.art:hover {
    filter: brightness(100%);
}

.card {
    background-image: url("../images/wed.png");
    padding: 200px 200px 30px 0px;
    background-size: 470px;
    background-position: center;
    margin: 20px;
    border: 5px solid var(--secondary-color);
    filter: brightness(75%);
}

.card:hover {
    filter: brightness(100%);
}

.logo {
    background-image: url("../images/wedding\ favour.png");
    padding: 200px 200px 30px 0px;
    background-size: 700px;
    background-position: center;
    margin: 20px;
    border: 5px solid var(--secondary-color);
    filter: brightness(75%);
}

.logo:hover {
    filter: brightness(100%);
}

.project-label {
    background-color: var(--secondary-color);
    color:var(--tertiary-color);
    padding: 0 10px;
    width: 275px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 20px;
    align-items: flex-start;  
}

/*styling footer*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer h2 {
    margin: 0;
    padding: 0 55px 0 60px;
    font-size: 60px;
    border-right: 5px solid var(--primary-color);
    text-align: right;
    color:var(--primary-color);
    display: flex;
}

footer nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

footer nav ul li {
    padding: 10px;
    font-size: 20px;
}

footer nav ul li a {
    color: var(--primary-color);
   text-decoration: none;
   border-bottom: 5px solid var(--primary-color);
   padding-bottom: 5px;
   padding-right: 15px;
   padding-left: 15px; 
}

@media screen and (max-width:980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }

    .hero h2 {
        display: flex;
        justify-content: space-around;
        background-color: var(--secondary-color);
        font-size: 40px;
        color:var(--tertiary-color);
        margin-left:700px;
        margin-top: 100px;
    }

    .aboutme {
        display: flex;
        flex-direction: column;
    }

    .aboutme h2 {
        margin: 0;
        padding:60px;
        font-size: 60px;
        border-bottom: 5px solid var(--primary-color);
        border-right: 0px;
        text-align: right;
        color:var(--primary-color);
        display: flex;
    }

    .work {
        display: flex;
        flex-direction: column;
        
    }
    
    .work h2 {
        margin: 0;
        padding:60px;
        font-size: 60px;
        border-bottom: 5px solid var(--primary-color);
        border-right: 0px;
        text-align: right;
        color:var(--primary-color);
        display: flex;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    footer h2 {
        margin: 0;
        padding:60px;
        font-size: 40px;
        text-align: right;
        color:var(--primary-color);    
    }

    footer nav ul {
        font-size: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
   
}

@media screen and (max-width: 768px) {

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
  
      .hero h2 {
          display: flex;
          justify-content: space-around;
          background-color: var(--secondary-color);
          font-size: 40px;
          color:var(--tertiary-color);
          margin-left:400px;
          margin-top: 100px;
      }
  
      .aboutme {
          display: flex;
          flex-direction: column;
      }
  
      .aboutme h2 {
          margin: 0;
          padding:60px;
          font-size: 60px;
          border-bottom: 5px solid var(--primary-color);
          border-right: 0px;
          text-align: right;
          color:var(--primary-color);
      }
  
      .work {
          display: flex;
          flex-direction: column;
          
      }
      
      .work h2 {
          margin: 0;
          padding:60px;
          font-size: 60px;
          border-bottom: 5px solid var(--primary-color);
          border-right: 0px;
          text-align: right;
          color:var(--primary-color);
      }

      .projects1 {
        display: flex;
        flex-direction: column;
    }
  
      footer {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
      }
  
      footer h2 {
        margin: 0;
        padding:60px;
        font-size: 60px;
        border-bottom: 5px solid var(--primary-color);
        border-right: 0px;
        text-align: right;
        color:var(--primary-color);
      }
  
      footer nav ul {
          font-size: 10px;
          display: flex;
          flex-wrap: wrap;
          margin: 50px;
          flex-direction: column;
      }

}

@media screen and (max-width: 575px) {

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
  
      .hero h2 {
          display: flex;
          justify-content: space-around;
          background-color: var(--secondary-color);
          font-size: 40px;
          color:var(--tertiary-color);
          margin-left:400px;
          margin-top: 100px;
      }
  
      .aboutme {
          display: flex;
          flex-direction: column;
      }
  
      .aboutme h2 {
          margin: 0;
          padding:60px;
          font-size: 60px;
          border-bottom: 5px solid var(--primary-color);
          border-right: 0px;
          text-align: right;
          color:var(--primary-color);
      }
  
      .work {
          display: flex;
          flex-direction: column;
          
      }
      
      .work h2 {
          margin: 0;
          padding:60px;
          font-size: 60px;
          border-bottom: 5px solid var(--primary-color);
          border-right: 0px;
          text-align: right;
          color:var(--primary-color);
      }

      .projects1 {
          display: flex;
          flex-direction: column;
      }
  
      footer {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
      }
  
      footer h2 {
        margin: 0;
        padding:60px;
        font-size: 60px;
        border-bottom: 5px solid var(--primary-color);
        border-right: 0px;
        text-align: right;
        color:var(--primary-color);
      }
  
      footer nav ul {
          font-size: 10px;
          display: flex;
          flex-wrap: wrap;
          margin: 50px;
          flex-direction: column;
      }

}